/******************************************************************
主题:Will-Box-One
开发者:罗磊 http://luoeli.org
Twitter:@foru17 https://twitter.com/foru17
新浪微博:@罗罗磊磊 http://weibo.com/foru17


欢迎使用由@罗罗磊磊 开发的will-box-one WP主题。
本主题基于HTML5基础主题Bones( http://themble.com/bones/ )而成。
采用最流行的前端模板 html5 Boilerplate，响应式布局，CSS使用LESS。
******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: 900;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 0px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
/******************************************************************
Stylesheet: Mixins & Constants Stylesheet
LESS样式表(请勿随意删除)
******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('../fonts/font-name.eot');
    	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/font-name.woff') format('woff'),
             url('../fonts/font-name.ttf') format('truetype'),
             url('../fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b);
}
.button:active,
.button:visited:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -moz-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -o-linear-gradient(top, #e40f42, #f01d4f);
  background-image: linear-gradient(to bottom, #e40f42, #f01d4f);
}
.blue-button,
.blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}
*,
*:before,
*:after {
  -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, opacity 0.5s ease;
  -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, opacity 0.5s ease;
  -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, opacity 0.5s ease;
  -o-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, opacity 0.5s ease;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, opacity 0.5s ease;
}
/*选择*/
::selection {
  text-shadow: none;
  color: #fff;
  background-color: #ffb900;
}
::-moz-selection {
  text-shadow: none;
  color: #fff;
  background-color: #ffb900;
}
::-webkit-selection {
  text-shadow: none;
  color: #fff;
  background-color: #ffb900;
}
@font-face {
  font-family: 'etao';
  src: url('../font/etao.ttf');/* IE9*/
}
.icon-font {
  font-family: etao;
  font-size: 1.2em;
  line-height: 1em;
  margin-right: 0.2em;
  color: #999;
}
/******************************************************************
Site Name: 三石主题
Author:@罗罗磊磊

Stylesheet: Base Mobile Stylesheet
******************************************************************/
/*********************
01. GENERAL STYLES
*********************/
body {
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  font-size: 100%;
  line-height: 1.5;
  color: #565656;
  background-image: url("../../images/bg.gif");
  background-color: #fff;
}
body .analysis {
  visibility: hidden;
}
/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
首页样式
*********************/
.home-posts-list #main .post-in-list {
  margin: 10px;
  background: #fff;
  word-wrap: break-word;
  float: left;
}
.home-posts-list #main .post-in-list .blog-entry-thumbnail img {
  max-width: 100%;
  box-shadow: #000 0em 0em 0em;
}
.home-posts-list #main .post-in-list .blog-entry-thumbnail img:hover {
  opacity: 0.6;
}
.home-posts-list #main .post-in-list .blog-entry-text {
  padding: 20px;
}
.home-posts-list #main .post-in-list .blog-entry-text .entry-header .h2 {
  margin: 0 0 0.4em;
  font-size: 1.143em;
  font-family: "Oxygen", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
}
.home-posts-list #main .post-in-list .blog-entry-text .entry-header .h2 a {
  color: #474646;
  font-weight: 600;
  line-height: 1.3em;
}
.home-posts-list #main .post-in-list .blog-entry-text .entry-header .h2 a:hover {
  color: #7F8C8D;
  opacity: 0.6;
}
.home-posts-list #main .post-in-list .blog-entry-text .entry-meta {
  border-top: 1px solid #eee;
}
.home-posts-list #main .post-in-list .blog-entry-text .entry-meta .icon-font {
  opacity: 0.5;
  font-size: 0.9em;
  padding-right: 0.3em;
}
.home-posts-list #main .post-in-list .blog-entry-text .entry-meta .icon-font:hover {
  opacity: 1.0;
}
.home-posts-list #main .post-in-list .blog-entry-text .entry-meta .home-box-cat-tag {
  font-family: "Oxygen", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
  margin-top: -0.8em;
}
.home-posts-list #main .post-in-list .blog-entry-text .entry-meta .home-box-cat-tag .post-categories a {
  background: #e74c3c;
  display: block;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #fff;
  font-size: 0.715em;
  padding: 2px 6px;
}
.home-posts-list #main .post-in-list .blog-entry-text .entry-meta .home-box-cat-tag .post-categories a:hover {
  background: #2C3E50;
}
.home-posts-list #main .masonry-brick {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
.home-posts-list #main .masonry-brick img {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.home-posts-list #main .masonry-brick:hover {
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4);
}
/*********************
03. LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 64em;
  margin: 0 auto;
}
#container {
  max-width: 64em;
  margin: 60px auto;
  margin-bottom: -40px;
}
.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}
/*********************
04. LINK STYLES
*********************/
a,
a:visited {
  color: #f01d4f;
  /* on hover */

  /* on click */

  /* mobile tap color */

}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #d10e3c;
}
a:link,
a:visited:link {
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

  /* removing text decoration from all headline links */

}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
}
h3,
.h3 {
  font-size: 1.125em;
}
h4,
.h4 {
  font-size: 1.1em;
  font-weight: 900;
}
h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h6,
.h6 {
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 2px;
}
li {
  list-style: none;
  text-decoration: none;
}
/*********************
06. HEADER SYTLES
*********************/
.header .top-bar {
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  top: 0;
  left: 0;
  height: 60px;
  line-height: 60px;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.header .top-bar .top-inner {
  max-width: 64em;
  margin: 0 auto;
}
.header .top-bar .top-inner #nav {
  float: right;
  padding: 0;
  margin: 0;
}
.header .top-bar .top-inner #nav li {
  float: left;
  margin-left: 10px;
  display: inline;
  position: relative;
}
.header .top-bar .top-inner #nav li a {
  color: #313131;
  margin: 0px 5px;
  font-size: 1em;
  font-weight: 400;
  font-family: "Oxygen", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
}
.header .top-bar .top-inner #nav li ul {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  top: 40px;
  width: 100px;
  display: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.header .top-bar .top-inner #nav li ul li {
  clear: both;
  line-height: 32px;
}
.header .top-bar .top-inner #nav li ul li a {
  float: left;
}
.header .top-bar .top-inner #nav li ul li a:hover {
  color: rgba(0, 0, 0, 0.5);
}
.header .top-bar .top-inner #top-logo .logo-small {
  margin-top: 10px;
  margin-left: 8px;
  height: 45px;
  width: 160px;
  float: left;
  text-indent: -9999px;
  background: url('../../images/sprites.png') 0 0px no-repeat;
}
.header .top-bar .top-inner #top-logo .logo-small:hover {
  background: url('../../images/sprites.png') 0 -47px no-repeat;
}
.header .top-bar li {
  float: left;
}
.header .top-bar li a:hover {
  color: #efefef;
}
.header .top-bar .search-header {
  float: right;
}
.header .top-bar .search-header input {
  background: url('../../images/sprites.png') no-repeat -176px -58px #fcfcfc;
  border: 1px solid #d1d1d1;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #bebebe;
  width: 30px;
  padding: 6px 15px 6px 28px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  -webkit-appearance: textfield;
}
.header .top-bar .search-header input:focus {
  width: 200px;
}
.header #banner-info {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: none;
  text-align: center;
  background: #fff;
}
.header #banner-info a {
  padding: 20px;
  margin-bottom: 30px;
  font-weight: 100;
  font-size: 0.7em;
  color: rgba(0, 0, 0, 0.5);
}
.header #banner-info a:hover {
  color: rgba(0, 0, 0, 0.4);
}
.menu-button {
  display: none;
}
.touch-button {
  display: none;
}
#searchform {
  display: none;
}
/*********************
07. NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
  border: 1px solid #ccc;
  border-bottom: 0;
  /* end .menu li */

  /* highlight current page */

  /* end current highlighters */

}
.nav li {
  /*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/

}
.nav li a {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  /*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/

}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 30px;
}
/* end .nav */
/*********************
08. POSTS & CONTENT STYLES
*********************/
#content {
  width: 100%;
  margin: 0.1em auto;
  margin-bottom: 1em;
}
#content #single-inner-content {
  background: #fff;
  word-wrap: break-word;
}
#content #single-inner-content .article-header {
  text-align: center;
  clear: both;
}
#content #single-inner-content .article-header .single-title {
  font-size: 1.4em;
  font-weight: 900;
  line-height: 2.0 em;
}
#content #single-inner-content .article-header .single-title:hover {
  opacity: 0.6;
}
#content #single-inner-content .article-header .artile-meta {
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 0 auto 40px auto;
  max-width: 100%;
}
#content #single-inner-content .article-header .artile-meta li {
  display: inline-block;
  margin-right: 1em;
  padding-left: 1em;
}
#content #single-inner-content .article-header .artile-meta li a {
  color: #565656;
}
#content #single-inner-content #main {
  width: 80%;
  margin: 0 auto;
  line-height: 1.65em;
  font-size: 1.2em;
  overflow: hidden;
}
#content #single-inner-content #main p {
  line-height: 1.45em;
  margin: 0.8em 0;
  font-family: "Oxygen", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
}
#content #single-inner-content footer {
  border-bottom: 1px solid #eee;
}
#content #single-inner-content footer .tags {
  padding: 10px;
  border-bottom: : 1px solid #eee;
}
#content #single-inner-content footer .tags a {
  border-radius: 4px;
  background: #1abc9c;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 6px 13px 6px 19px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
}
#content #single-inner-content footer .tags a:hover {
  background: #2ECC71;
}
#content #single-inner-content img {
  width: auto;
  max-width: 100%;
}
#content #single-inner-content .author-info-box {
  width: 100%;
  height: 160px;
  padding: 10px 20px;
  border: 1px dashed #eee;
}
#content #single-inner-content .author-info-box img {
  display: block;
  height: 90px;
  width: 90px;
  float: left;
  margin-top: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#content #single-inner-content .author-info-box .author-info {
  float: left;
  margin-left: 20px;
  border: 1px dashed #eee;
}
#content #single-inner-content .author-info-box .author-info li {
  float: left;
}
#content #single-inner-content .author-info-box .author-info .author-title {
  font-size: 0.8em;
  color: #0f0f0f;
}
#content #post-nav {
  border: 1px solid #eee;
  clear: both;
  height: 200px;
  padding: 10px;
}
#content #post-nav .post-nav-box {
  float: left;
}
#content #post-nav .post-nav-box time {
  font-size: 12px;
  display: block;
  text-align: center;
}
#content #post-nav .post-nav-box h4 {
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
#content #post-nav .post-nav-box a.next,
#content #post-nav .post-nav-box a.previous {
  display: block;
  text-align: center;
  border-bottom: 1px dashed #eee;
}
#content #post-nav .post-previous {
  display: block;
  width: 45%;
  float: left;
}
#content #post-nav .post-previous img {
  float: left;
}
#content #post-nav .post-next {
  display: block;
  width: 45%;
  float: right;
}
#content #post-nav .post-next img {
  float: right;
}
/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.byline {
  color: #999;
}
/* entry content */
.entry-content {
  font-family: "Oxygen", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
  /*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/

}
.entry-content a[href^="http"]:not([href^="http://luolei.org"]):not([href^="http://www.domain.com"]):not([href^="https://domain.com"]):not([href^="https://www.domain.com"]) {
  color: #47B9ED;
}
.entry-content blockquote {
  margin: 1em 0;
  padding: 1em 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid #efefef;
  background-color: #f8f8f8;
  font: italic 1.05em/1.55em "Skolar Italic", "Times New Roman", serif;
  color: rgba(0, 0, 0, 0.75);
}
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.entry-content img {
  margin: 0 0 0.5em 0;
  max-width: 100%;
  height: auto;
}
.entry-content video,
.entry-content object {
  max-width: 100%;
  height: auto;
}
.entry-content code {
  background: #F2F2F0;
  padding: 2px 5px;
  border-radius: 5px;
  color: #423B36;
  font-family: 'Courier New', monospace, monospace;
  font-size: 0.9em;
  margin: 0 3px;
}
.entry-content pre {
  border-left: 3px solid #E74C3C;
  background: #f2f2f0;
  border-radius: 5px;
  padding: 10px;
  color: #2C3E50;
  font-family: 'Courier New', monospace, monospace;
  line-height: 1.6;
  overflow: auto;
  padding: 1em;
}
.entry-content pre code {
  margin: 0;
  padding: 0;
  background: #f2f2f0;
  color: #2C3E50;
}
/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */

}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}
/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
  text-align: center;
}
.bones_page_navi {
  display: inline-block;
  /* current page link */

  /* end .bones_page_navi .bpn-current */

  /* common styles for page-navi links */

  /* remove the bg on end links */

  /* previous link */

  /* next page link */

  /* first page link */

  /* last page link */

}
.bones_page_navi li {
  float: left;
  margin-left: 10px;
  display: inline;
}
.bones_page_navi li a {
  color: #707070;
  background: #FFFFFF;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: solid 1px #DCDCDC;
  padding: 6px 9px 6px 9px;
}
.bones_page_navi li a:hover,
.bones_page_navi li a:focus {
  background: #E74C3C;
  color: #fff;
}
.bones_page_navi li.bpn-current {
  color: #fff;
  background: #E74C3C;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: solid 1px #DCDCDC;
  padding: 6px 9px 6px 9px;
}
.bones_page_navi li.bpn-current a {
  background: #efefef;
  /* hovering on current page link */

}
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}
/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left;
}
.wp-prev-next .next-link {
  float: right;
}
/* end .wp-prev-next */
/******************************************************************
10. COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments {
  font-family: CursiveStandard, cursive;
  font-size: 1.725em;
  text-transform: lowercase;
  text-align: center;
  line-height: 0.882em;
  margin-top: 0.882em;
  margin-bottom: 0.441em;
  /* number of comments span */

}
#comment-box {
  /* end .commentlist */

}
#comment-box .commentlist {
  /* general comment classes */

  /* vcard */

  /* end .commentlist .vcard */

  /* comment meta */

  /* comment content */

  /* end .commentlist .comment_content */

  /* comment reply link */

  /* end .commentlist .comment-reply-link */

}
#comment-box .commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */

}
#comment-box .commentlist li:last-child {
  margin-bottom: 0;
}
#comment-box .commentlist li ul.children {
  margin: 0;
  /* variations */

  /* change number for different depth */

}
#comment-box .commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
#comment-box .commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
#comment-box .commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
#comment-box .commentlist .odd {
  background: #eee;
}
#comment-box .commentlist .even {
  background: #fefefe;
}
#comment-box .commentlist .vcard {
  margin-left: 50px;
}
#comment-box .commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
#comment-box .commentlist .vcard time {
  float: right;
}
#comment-box .commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
#comment-box .commentlist .vcard time a:hover {
  text-decoration: underline;
}
#comment-box .commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
#comment-box .commentlist .comment_content {
  margin-left: 50px;
}
#comment-box .commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
#comment-box .commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 0.5em;
}
#comment-box .commentlist .comment-reply-link:hover,
#comment-box .commentlist .comment-reply-link:focus {
  opacity: 1;
}
/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
.respond-form form {
  margin: 0.75em 0;
}
.respond-form form li {
  list-style-type: none;
  display: block;
  width: 100%;
  margin-bottom: 0.7335em;
}
.respond-form form li label,
.respond-form form li small {
  display: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  /* form validation */

}
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  width: 100%;
  height: 3.125em;
  background-color: #ddd;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  display: block;
  padding: 0 0.625em;
}
.respond-form form textarea {
  border: 1px solid #999;
  clear: both;
  height: 5em;
  width: 100%;
  outline: none;
  resize: none;
  -khtml-opacity: .5;
  -moz-opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}
/* comment submit button */
#submit {
  background: #444;
  width: 100%;
  height: 50px;
  font-family: CursiveStandard, cursive;
  font-size: 1.4em;
  color: #fff;
}
/* comment form title */
#comment-form-title {
  text-align: center;
  font-family: CursiveStandard, cursive;
  color: #666;
}
/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}
/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}
/*********************
12. SIDEBARS & ASIDES
*********************/
.widget ul li {
  /* deep nesting */

}
/*********************
13. FOOTER STYLES
*********************/
.footer {
  width: 100%;
  color: #999;
  background: url("../../images/bg-footer.gif") repeat 0 0;
  position: relative;
  padding: 0em 0 1em 0;
}
.footer #inner-footer h6 {
  color: #999;
  font-family: CursiveStandard, cursive;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0.541em;
  padding-bottom: 0.8em;
}
.footer #inner-footer .footer-box {
  display: block;
  width: 90&;
}
.footer #inner-footer .footer-comments-list {
  float: left;
}
.footer #inner-footer .footer-comments-list .footer-comment-in-list {
  margin-top: 10px;
  height: 2.4em;
  line-height: 1.2em;
  max-width: 100%;
  overflow: hidden;
  font-size: 0.9em;
  word-wrap: break-word;
}
.footer #inner-footer .footer-comments-list .footer-comment-in-list a {
  color: #999;
}
.footer #inner-footer .footer-comments-list .footer-comment-in-list a img {
  display: none;
}
.footer #inner-footer .footer-comments-list .footer-comment-in-list a:hover {
  color: #e6e6e6;
}
.footer #inner-footer .footer-comments-list .footer-comment-in-list .avatar {
  vertical-align: center;
  float: left;
  margin-right: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.footer #inner-footer .footer-comments-list .footer-comment-in-list .avatar:hover {
  -khtml-opacity: .6;
  -moz-opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: .6;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.6), inset 0 0 5px #ffffff;
  -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.6), inset 0 0 5px #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6), inset 0 0 5px #ffffff;
}
.footer #inner-footer .footer-tag-list {
  float: left;
}
.footer #inner-footer .footer-tag-list a {
  background: #C0392B;
  display: block;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #fff;
  padding: 2px 6px;
}
.footer #inner-footer .footer-tag-list a:hover {
  background: #34495E;
}
.footer #inner-footer .footer-contact-info img {
  display: block;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.footer #inner-footer .footer-contact-info .social-contact {
  float: left;
  margin-left: 1em;
}
/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
.copyright {
  clear: both;
  color: #999;
  font-family: 'Advent Pro', sans-serif, Microsoft YaHei, Tahoma, Arial;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9em;
}
.copyright a {
  font-weight: 400;
  color: #999;
  text-decoration: none;
}
.copyright a:hover {
  color: #C0392B;
}
.archive-page-banner {
  max-width: 100%;
  display: block;
  text-align: center;
  background: #fff;
}
.archive-page-banner .article-title {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5);
}
#not-found-page-container {
  width: 100%;
  height: 360px;
}
#not-found-page-container h1 {
  font-size: 48px;
  text-align: center;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #8b8989;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
/*-------------------------------------*/.form-wrapper {
  width: 450px;
  padding: 15px;
  margin: 40px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}
.form-wrapper input {
  width: 300px;
  height: 40px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}
.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #d83c3c;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.form-wrapper button:hover {
  background: #e54040;
}
.form-wrapper button:active,
.form-wrapper button:focus {
  background: #c42f2f;
}
.form-wrapper button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}
.form-wrapper button:hover:before {
  border-right-color: #e54040;
}
.form-wrapper button:focus:before {
  border-right-color: #c42f2f;
}
.form-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#to-top {
  width: 48px;
  height: 48px;
  text-align: left;
  text-indent: -9999px;
  background: transparent url('../../images/sprites.png') -171px -1px no-repeat;
  overflow: hidden;
  position: fixed;
  right: 20px;
  bottom: 20px;
  -khtml-opacity: .5;
  -moz-opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}
#to-top:hover {
  -khtml-opacity: .2;
  -moz-opacity: .2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  opacity: .2;
}
/**** 首页 Transitions ****/
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}
/*
LARGER MOBILE DEVICES
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Stylesheet: 481px and Up Stylesheet
  ******************************************************************/
  .home-posts-list #main .post-in-list {
    float: left;
  }
  .header #banner-info {
    display: block;
  }
  /*********************
  NAVIGATION STYLES
  *********************/
  /* .menu is clearfixed inside mixins.scss */
  .menu {
    /* end .menu ul */
  
  }
  .menu ul {
    /* end .menu ul li */
  
    /* highlight current page */
  
    /* end current highlighters */
  
  }
  .menu ul li {
    /*
  				plan your menus and drop-downs wisely.
  				*/
  
  }
  .menu ul li a {
    /*
  					you can use hover styles here even though this size
  					has the possibility of being a mobile device.
  					*/
  
  }
  /* end .menu */
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */
  
  }
  .entry-content .alignleft,
  .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright,
  .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter,
  .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  /* end .entry-content */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  check your menus here. do they look good?
  do they need tweaking?
  */
  /* end .footer-links */
  /*********************
  WP index
  *********************/
}
/*
TABLET & SMALLER LAPTOPS
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Stylesheet: Grid Stylesheet
  ******************************************************************/
  .onecol {
    width: 5.801104972%;
  }
  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%;
  }
  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%;
  }
  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%;
  }
  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%;
  }
  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%;
  }
  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%;
  }
  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%;
  }
  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%;
  }
  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%;
  }
  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%;
  }
  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%;
  }
  /* 100%;   } /* grid_12 */
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol,
  .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }
  .first {
    margin-left: 0;
  }
  .last {
    float: right;
  }
  /******************************************************************
  Stylesheet: Tablet & Small Desktop Stylesheet
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  .home-posts-list #main .post-in-list {
    width: 30%;
    float: left;
  }
  .home-posts-list #main .post-in-list .blog-entry-thumbnail img {
    max-width: 100%;
  }
  .home-posts-list #main .post-in-list .blog-entry-thumbnail img:hover {
    opacity: 0.6;
  }
  .home-posts-list #main .post-in-list .blog-entry-text {
    padding: 20px;
  }
  .home-posts-list #main .post-in-list .blog-entry-text .entry-header h2 {
    margin: 0 0 15px;
    font-size: 1.143em;
  }
  .home-posts-list #main .post-in-list .blog-entry-text .entry-header h2 a {
    color: #0a0a0a;
    font-weight: 500;
    line-height: 1.3em;
  }
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  .wrap {
    max-width: 1140px;
  }
  /*********************
  HEADER SYTLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav {
    background: #eee;
    border: 0;
    /* end .menu ul li */
  
    /* highlight current page */
  
    /* end current highlighters */
  
  }
  .nav li {
    float: left;
    position: relative;
    /*
  		plan your menus and drop-downs wisely.
  		*/
  
    /* showing sub-menus */
  
  }
  .nav li a {
    border-bottom: 0;
    /*
  			you can use hover styles here even though this size
  			has the possibility of being a mobile device.
  			*/
  
  }
  .nav li a:hover,
  .nav li a:focus {
    background-color: #dedede;
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 8999;
    /* highlight sub-menu current page */
  
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    /*
  				if you need to go deeper, go nuts
  				just remember deeper menus suck
  				for usability. k, bai.
  				*/
  
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li:hover ul {
    top: auto;
    display: block;
  }
  /* end .nav */
  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar {
    margin-top: 2.2em;
  }
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  
  }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }
  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  .footer-links ul li {
    /*
  			be careful with the depth of your menus.
  			it's very rare to have multi-depth menus in
  			the footer.
  			*/
  
  }
  /* end .footer-links */
  /*********************
  WP index
  *********************/
  .respond-form {
    margin: 1.5em 10px;
    padding-bottom: 2.2em;
  }
  .respond-form form {
    margin: 0.75em 0;
  }
  .respond-form form li {
    list-style-type: none;
    display: block;
    width: 46%;
    float: left;
    margin-left: 3%;
    margin-bottom: 0.7335em;
  }
  .respond-form form li label,
  .respond-form form li small {
    display: none;
  }
  .respond-form form input[type=text],
  .respond-form form input[type=email],
  .respond-form form input[type=url],
  .respond-form form textarea {
    /* form validation */
  
  }
  .respond-form form input[type=text]:focus,
  .respond-form form input[type=email]:focus,
  .respond-form form input[type=url]:focus,
  .respond-form form textarea:focus {
    background: #fff;
  }
  .respond-form form input[type=text]:invalid,
  .respond-form form input[type=email]:invalid,
  .respond-form form input[type=url]:invalid,
  .respond-form form textarea:invalid {
    outline: none;
    border-color: #fbc2c4;
    background-color: #f6e7eb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
  }
  .respond-form form input[type=text],
  .respond-form form input[type=email],
  .respond-form form input[type=url] {
    width: 100%;
    height: 3.125em;
    background-color: #ddd;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    display: block;
    padding: 0 0.625em;
  }
  .respond-form form textarea {
    background: url('../../images/bg-comment-box.png') center center no-repeat;
  }
  /* comment submit button */
  /* comment form title */
  #comment-form-title {
    margin: 0 0 1.1em;
  }
  /* cancel comment reply link */
  /* logged in comments */
  /* allowed tags */
  #allowed_tags {
    margin: 1.5em 10px 0.7335em 0;
  }
  /* no comments */
  .nocomments {
    margin: 0 20px 1.1em;
  }
}
/*
DESKTOP
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Stylesheet: Desktop Stylsheet
  ******************************************************************/
  .home-posts-list #main .post-in-list {
    width: 30%;
  }
  .home-posts-list #main .post-in-list .blog-entry-thumbnail img {
    max-width: 100%;
  }
  .home-posts-list #main .post-in-list .blog-entry-thumbnail img:hover {
    opacity: 0.6;
  }
  .home-posts-list #main .post-in-list .blog-entry-text {
    padding: 20px;
  }
  .home-posts-list #main .post-in-list .blog-entry-text .entry-header h2 {
    margin: 0 0 15px;
    font-size: 1.143em;
  }
  .home-posts-list #main .post-in-list .blog-entry-text .entry-header h2 a {
    color: #0a0a0a;
    font-weight: 500;
    line-height: 1.3em;
  }
  .menu-button {
    display: none;
  }
  .touch-button {
    display: none;
  }
  #searchform {
    display: block;
  }
  /*********************
  FOOTER STYLES
  *********************/
  .footer #inner-footer .footer-box {
    float: left;
    width: 26.666%;
    margin-left: 2%;
  }
}
/*
LARGE VIEWING SIZE
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Stylesheet: Super Large Monitor Stylesheet
  ******************************************************************/
}
/*
RETINA (2x RESOLUTION DEVICES)
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Stylesheet: Retina Screens & Devices Stylesheet
  ******************************************************************/
}
/*
PRINT STYLESHEET
*/
@media print {
  /******************************************************************
  Stylesheet: Print Stylesheet
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
